<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>
<body>
    <h1>Framework Django - CRUD</h1>
    <p>Implementando CRUD básico com Django para entender o fluxo MTV (Model-Template-View). </p> 
    <p>O CSS não foi objeto de estudo, devido a isso as páginas contém um HTML simples!</p>

    <a href="funcionario-add">Cdastrar Funcionários</a>
    <a href="funcionario-list/">Listar Funcionários</a>
</body>
</html>